{# Header em todas as paginas. WeasyPrint move este bloco para @top-center
   via `position: running()`, replicando-o em cada folha sem repetir o nome
   da obra na primeira pagina (ver auditoria_pdf.html.j2). #}
<div class="running-header">
  <img class="header-logo" src="assets/logo-cosampa.png" alt="COSAMPA" />
</div>
